<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/commons :: head}">

</head>
<body>
<header th:replace="~{fragments/commons :: header}">

</header>
<main>
    <div class="hotels-container">
        <div th:each="hotel : ${hotels}" th:if="${hotel.active}" class="hotel-card">
            <div class="hotel-image">
                <img th:if="${not #lists.isEmpty(hotel.images)}" th:src="${hotel.images[0].imageUrl}" alt="Hotel Image">
                <img th:unless="${not #lists.isEmpty(hotel.images)}" src="/images/default-hotel.jpg" alt="Default Hotel Image">
            </div>

            <div class="hotel-info">
                <h3 th:text="${hotel.name}">Hotel Name</h3>
                <p th:text="${#strings.length(hotel.description) > 100 ? #strings.substring(hotel.description, 0, 100) + '...' : hotel.description}">
                    Hotel description goes here...</p>
                <small th:text="|Rating: ${hotel.rating}⭐|"></small>
                <a th:href="@{/hotels/{id}/details(id=${hotel.id})}" class="view-more-button">View More</a>
            </div>
    </div>

        </div>
    </div>

    <!-- Lightbox Container -->
    <div id="lightbox" class="lightbox" onclick="closeLightbox()">
        <img id="lightbox-image" class="lightbox-content">
    </div>


</main>
>
<footer>
    <p>Contact Us: info@hotelreservation.com</p>
    <p>Follow us on Social Media</p>
    <a href="#"><i class="fa-brands fa-facebook"></i></a> | <a href="#">Twitter</a> | <a href="#">Instagram</a>
</footer>


</body>
</html>
